<div class="top-wrapper">
    <div class="container">
        <h1>Kogoto.</h1>
        <p>Kogotoとは小さなことを一言ささやく場所</p>
        <div class="btn new-post">
            <%= link_to("ささやく", "/posts/new") %>
        </div>
    </div>
</div>