<div claas="post-index">
    <div class="post-container">
        <h1>Kogoto一覧</h1>
        <% @posts.each do |post| %>
        <div class="post-index-item">
            <div class="post-left">
                <%= post.content %>
            </div>
            <div class="post-right">
                <%= link_to("削除", "/posts/#{post.id}/delete", {method: "post"}) %>
            </div>
        </div>
        <% end %>
    </div>
</div>