<div class="new-container">
    <h1>投稿する</h1>
    <%= form_tag("/posts/create") do %>
        <div class="form">
            <% @posts.errors.full_messages.each do |message| %>
            <div class="form-error">
                <%= message %>
            </div>
            <% end %>
            <div class="warning">
                <a>※26文字以内で入力してください</a>
            </div>
            <div class="text-content">
                <input class="text" type="text" name="content" value="<%= @posts.content %>"></input>
            </div>
            <div class="submit">
                <input type="submit" value="投稿"></input>
            </div>
        </div>
    <% end %>
</div>