.post-container {
    margin: 60px auto;
    width: 100%;
}

.post-index-item {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 2px solid white;
    background-color: rgba(236,246,206,0.5);
    overflow: hidden;
}

.post-left {
    float: left;
    text-align: left;
    width: 85%;
}

.post-right {
    float: right;
    width: 10%;
    padding:2px 0px;
    text-align: center;
    background-color: #86B404;
}

.post-right a {
    color: white;
}

/*--投稿ページCSS--*/

.new-container {
    width: 100%;
    margin: 60px auto;
}

.new-container h1 {
    width: 80%;
    margin: 100px auto 20px;
    font-size: 43px;
    color: rgba(164,164,164,0.6);
    text-align: center;
}

.form {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
}

.text {
    width: 75%;
    height: 25px;
    display: block;
    margin: 0 auto;
    font-size: 15px;
}

.submit {
    text-align: center;
    margin: 15px;
}

.submit input {
    width: 100px;
    margin: 0 auto;
    font-size: 20px;
    display: inline-block;
    background-color:  #86B404;
    color: white;
    border-radius: 10%;
}

.form-error {
    padding: 10px;
    text-align: center;
    color: red;
}